<html>
    <body>
        <alumne-modol></alumne-modol>
        <form name="addMarca" display="block">      
            <h2>Busca un hobby per la id</h2>		        
            <label for="content">Entra la id</label><br>		        
		        <input type="text" name="findAlumn" [(ngModel)]="id"><br><br>
		        <button (click)="getAlumneId()" type="submit" class="btn btn-default">Envia per buscar un hobbie</button>
        <div class="primary" *ngFor='let alumne of alumneId'>
            nom = {{alumne.nom}}

                    </div>
        </form>	
    </body>
</html>