<html>

	<body>       
        <div *ngIf="finished" class="alert alert-success fade in alert-dismissable" style="margin-top:18px;">     
   	<strong>Correcte! </strong>Connectat Correctament!
</div>
         <div *ngIf="notfinished" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
   	<strong>Correcte! </strong>Connectat Correctament!
</div>
        
    
    <div>
<form action="" method="post" class="login">
    <div><label>Username</label><input   [(ngModel)]="user" name="user" type="text" ></div><br>
    <div><label>Password</label><input   [(ngModel)]="psswd" name="password" type="password"></div>
    <button (click)="login()" name="login" type="submit" value="login">Endevant!</button>
</form>        
</div>         
    </body>
</html>

<!--<div *ngIf=finished; thenBlock else elseBlock>
</div>
        
<ng-template #thenBlock>
<div class="alert alert-success fade in alert-dismissable" style="margin-top:18px;">     
    <strong>Correcte! </strong>Connectat Correctament! </div>
</ng-template>
            
<ng-template #elseBlock>     
<div class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
<strong>Error!</strong> Usuari o Contrasenya no trobats:$
</div>
</ng-template>-->