<div class="verd">

    <br>

    <h2>Introdueix l'ID d'un <strong>equipament</strong> per saber la seva informació:</h2>
    
    <!--<p class="error">{{errors}}</p>
    <p class="totb">{{totb}}</p>-->
    
    <div *ngIf="error" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
        <span class="error">Aquest ID no existeix</span> <br> <br>
    </div>
    
    <form name="getEquipament">
        <label for="idEq">ID: </label>
        <input type="text" name="idEq" id="idEq" [(ngModel)]="idEq"> <br> <br>
        <button (click)="trobaEquipament()" type="submit" class="btn btn-success">Submit</button>
        <!--<button (click)="trobaEquipament();trobaMarcaImodel();" type="submit" class="btn btn-success">Submit</button>-->
    </form>
    
    <div *ngFor='let equipament of equipaments3'>
        <!-- <p>ID: {{equipament.id}}</p> -->
        <p>Nom: {{equipament.name}}</p>
        <p>Combustible: {{equipament.combustible}}</p>
        <p>Potència: {{equipament.potencia}}</p>
        <p>Tracció: {{equipament.traccio}}</p>
        <p>Climatitzador: {{equipament.climatitzador}}</p>
        <p>Llantes de 17": {{equipament.llantes17}}</p>
        <p>Llantes de 18": {{equipament.llantes18}}</p>
        <p>Llantes de 19": {{equipament.llantes19}}</p>
        <p>Navegador: {{equipament.navegador}}</p>
        <p>Pintura metalitzada: {{equipament.pintura}}</p>
        <p>Equip multimèdia de 6": {{equipament.multimedia6}}</p>
        <p>Equip multimèdia de 9": {{equipament.multimedia9}}</p>
        <p>Preu: {{equipament.preu}}</p>
        <!--<p>Marca: {{marcaImodel[0]}}</p>
        <p>Model: {{marcaImodel[1]}}</p>-->
    </div>
</div>

<div class="groc">
    <br>

        <h2>Clica el botó per veure tots els equipaments:</h2>

        <button (click)="trobaEquipaments()" type="submit" class="btn btn-default">Submit</button><br>

        <div *ngFor='let eq of equipaments2'>
            <!-- <p>ID: {{eq.id}}</p> -->
            <p>Nom: {{eq.name}}</p>
            <p>Potència: {{eq.potencia}}</p>
            <p>Tracció: {{eq.traccio}}</p>
            <p>Climatitzador: {{eq.climatitzador}}</p>
            <p>Llantes de 17": {{eq.llantes17}}</p>
            <p>Llantes de 18": {{eq.llantes18}}</p>
            <p>Llantes de 19": {{eq.llantes19}}</p>
            <p>Navegador: {{eq.navegador}}</p>
            <p>Pintura metalitzada": {{eq.pintura}}</p>
            <p>Equip multimèdia de 6": {{eq.multimedia6}}</p>
            <p>Equip multimèdia de 9": {{eq.multimedia9}}</p>
            <p>Preu: {{eq.preu}}</p>
            <p>Marca: </p>
            <p>Model: </p>
            <br><br>
        </div>
</div>

<br><br>