<html>
    <body>
    <form name="addMarca" display="block">      
            <h2>Busca un alumne per la id</h2>		        
            <label for="content">Entra la id</label><br>		        
		        <input type="text" name="findAlumn" [(ngModel)]="id"><br><br>
		        <button (click)="getAlumneId()" type="submit" class="btn btn-default">Envia per buscar un alumne</button>
        <div class="primary" *ngFor='let alumne of alumneId'>
            nom = {{alumne.nom}}
            <div class="secundary" *ngFor='let hobbies of alumne.hobby'>
                            <p style="margin-bottom:0%">Hobbie {{hobbies.idh}}</p>  
                        Nom: {{hobbies.nom}} <br>                       
                            </div>
                    </div>
    </form>	
        
        
        ----------------------------------------------------------------------------<br>
        
        <button (click)="listAlumnes()" type="submit" class="btn btn-default">Llista tots els alumnes amb els seus respectus hobbies</button>
        <div class="primary" *ngFor='let alumne of alumnes'>
                        <p style="margin-bottom:0%">Alumne {{alumne.ida}}</p>
                        ------------------------------------  <br> 
                        Nom: {{alumne.nom}} <br>                        
                        <div class="secundary" *ngFor='let hobbies of alumne.hobby'>
                            <p style="margin-bottom:0%">Hobbie {{hobbies.idh}}</p>  
                        Nom: {{hobbies.nom}} <br>                       
                            </div>
                    </div>	<br>
        
        ----------------------------------------------------------------------------<br>
        
    </body>
</html>
