
<html>
<body>
  <button routerLink="../addCurs" routerLinkActive="active">Afegir un Curs</button>
  <button routerLink="../putCurs" routerLinkActive="active">Actualitzar un Curs</button>
  <button routerLink="../delCurs" routerLinkActive="active">Esborrar un Curs</button>
  <button routerLink="../listCurs" routerLinkActive="active">Llistar els Curos</button>
</body>
<html>
    <body>
    <form name="addMarca" display="block">      
            <h2>Introdueix una nova Marca de cotxes</h2>		        
            <label for="content">Entra el nom  </label><br>
		        <input type="text" name="addMarca" [(ngModel)]="addName"><br>
            <label for="content">Entra el telèfon   </label><br>
		        <input type="text" name="addMarca" [(ngModel)]="addTel"><br>
            <label for="content">Entra l'e-Mail  </label><br>
		        <input type="text" name="addMarca" [(ngModel)]="addMail"><br>
            <label for="content">Entra el país</label><br>
		        <input type="text" name="addMarca" [(ngModel)]="addCountry"><br><br>
		        <button (click)="addMarcaPost()" type="submit" class="btn btn-default">Envia per introduïr una marca</button>
    </form>	
    </body>
</html>