<h3>Benvingut a l'aplició CONCESSIONARI.</h3>
<p>Des d'aquesta secció pots manipular els <strong>equipaments</strong> guardats a la BD local</p>
<h4>Escull una de les següents opcions:</h4>

<button onclick="location.href = '/crear-eq';"><strong>CREAR</strong></button> <br> <br>
<button onclick="location.href = '/consultar-eq';"><strong>CONSULTAR</strong></button> <br> <br>
<button onclick="location.href = '/modificar-eq';"><strong>MODIFICAR</strong></button> <br> <br>
<button onclick="location.href = '/esborrar-eq';"><strong>ESBORRAR</strong></button> <br> <br>