<html>
    <body>       
        
        <div *ngIf="finished" class="alert alert-success fade in alert-dismissable" style="margin-top:18px;">     
    Afegit correctament
</div>
         <div *ngIf="errorBuit" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
    Hi ha algun camp buit
</div>
        <div *ngIf="errorServer" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
    Error de servidor
</div>
    <form name="addMarca" display="block">      
            <h2>Dades de la nova Localitat:</h2>		        
            <label for="content">id</label><br>
		        <input type="text" name="addLocalitat" [(ngModel)]="addid"><br>
            <label for="content">nom localitat</label><br>
		        <input type="text" name="addLocalitat" [(ngModel)]="addlocalitat"><br>
		        <button (click)="addLocalitatPost()" type="submit" class="btn btn-default">Enviar</button>
    </form>	
    </body>
</html>