<html>
    <body>
<div class="left">
    <p>Des d'aquí pots interactuar amb la BD en referència a la informació pertinent als <strong>professors</strong>.</p>

    <h4>Escull una de les següents opcions:</h4>

    <button onclick="location.href = '/crear-profe';"><strong>CREAR</strong></button>           <br> <br>
    <button onclick="location.href = '/consultar-profe';"><strong>CONSULTAR</strong></button>   <br> <br>
    <button onclick="location.href = '/modificar-profe';"><strong>MODIFICAR</strong></button>   <br> <br>
    <button onclick="location.href = '/esborrar-profe';"><strong>ESBORRAR</strong></button>     <br> <br>
</div>

<div class="right">

    <!--<img src="https://s-media-cache-ak0.pinimg.com/736x/25/17/08/25170841d63698db6c47a006af296149.jpg" width="400px" class="apple">-->
    
</div>
</body>
</html>