<html>
    <body>
        <div *ngIf="errorServer" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
   	Error servidor
</div>
        
        <div *ngIf="errorBuit" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
     Id incorrecta o inexistent
</div>
        <div *ngIf="finished" class="alert alert-success fade in alert-dismissable" style="margin-top:18px;">     
    S'ha eliminat el centre correctament
</div>
    <form name="delCentre" display="block">      
            <h2>Eliminar un Centre</h2>
            	<label for="content">id</label><br>
		        <input type="text" name="delId" [(ngModel)]="deleteId"><br>
		        <button (click)="deleteCentre()" type="submit" class="btn btn-default" >Enviar</button>
    </form>        
    </body>
</html>
