<html>
    <body>
        <div *ngIf="finished" class="alert alert-success fade in alert-dismissable" style="margin-top:18px;">     
    Afegit correctament
</div>
         <div *ngIf="errorBuit" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
    Hi ha algun camp buit
</div>
        <div *ngIf="errorServer" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
    Error de servidor
</div>
    <form name="addMarca" display="block">      
            <h2>Dades del nou centre:</h2>		        
            <label for="content">id</label><br>
		        <input type="text" name="addMarca" [(ngModel)]="addid"><br>
            <label for="content">nom</label><br>
		        <input type="text" name="addMarca" [(ngModel)]="addnom"><br>
            <label for="content">id localitat</label><br>
		        <input type="text" name="addMarca" [(ngModel)]="addidlocalitat"><br>
		        <button (click)="addCursPost()" type="submit" class="btn btn-default">Enviar</button>
    </form>	
    </body>
</html>