<html>       
    <body>
        <div *ngIf="errorBuit" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
    <strong>Error!</strong> Hi ha algún camp buit
</div>
        <div *ngIf="errorId" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
    <strong>Error!</strong> La id introduïda no s'ha trobat o hi ha algún camp buit
</div>
        <div *ngIf="errorServer" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
    <strong>Error!</strong> Server not Works!
</div>
      <div *ngIf="finished" class="alert alert-success fade in alert-dismissable" style="margin-top:18px;">     
    <strong>Correcte! </strong>S'han actualitzat les dades
</div>
    <form name="updateMarca" display="block">      
            <h2>Actulatiza els valors de una Marca</h2>
            	<label for="content">Entra l'id de la marca que vols actualitzar   </label><br>
		        <input type="text" name="addMarca" [(ngModel)]="addId"><br>
		        
            <label for="content">Entra el nou nom  </label><br>
		        <input type="text" name="addMarca" [(ngModel)]="addName"><br>
            <label for="content">Entra el nou correu  </label><br>
		        <input type="text" name="addMarca" [(ngModel)]="addMail"><br>
            <label for="content">Entra el nou Païs</label><br>
		        <input type="text" name="addMarca" [(ngModel)]="addCountry"><br><br>
            <label for="content">Entra el nou telèfon </label><br>
		        <input type="text" name="addMarca" [(ngModel)]="addTel"><br>
		        <button (click)="updateMarca()" type="submit" class="btn btn-default">Envia per actualitzar una marca</button>
    </form> 
    </body>
</html>