input{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
	width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.ID{
	padding-top:10px;
	padding-left:10px;
}
.cont{
	margin:10px;
}
.separated{
	background-color:#7FFFD4;
	width:220px;
	margin:5px;
	border:1px solid green;
	border-radius:10px;
}
