<form name="put" display="block">
  <h2>Modifica els clients</h2>
  <div *ngIf="errorBuitU" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">
    <strong>Error!</strong> Hi ha algún camp buit
  </div>
  <div *ngIf="errorClientU" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">
    <strong>Error!</strong> Client inexistent
  </div>
  <div *ngIf="errorServerU" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">
    <strong>Error!</strong> Server off
  </div>
    <div *ngIf="finishedU && !errorClientU" class="alert alert-success fade in alert-dismissable" style="margin-top:18px;">
      <strong>Correcte! </strong>S'han actualitzat les dades
    </div>
  <div *ngIf="errorBDU" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">
    <strong>Error!</strong> BBDD inaccessible
  </div>
  <label for="content">Numero identificatiu del client</label><br>
  <input type="text" name="putPn" [(ngModel)]="idU"><br />
  <label for="content">Dni del client</label><br>
  <input type="text" name="putPn" [(ngModel)]="dniU"><br />
  <label for="content">Nom del client</label><br>
  <input type="text" name="putPn" [(ngModel)]="nomU"><br />
  <label for="content">Cognoms del client</label><br>
  <input type="text" name="putPn" [(ngModel)]="cognomsU"><br />
  <label for="content">Correu del client</label><br>
  <input type="text" name="putPn" [(ngModel)]="correuU"><br />
  <label for="content">Direccio del client</label><br>
  <input type="text" name="putPn" [(ngModel)]="direccioU"><br />
  <label for="content">Telefon del client</label><br>
  <input type="text" name="putPn" [(ngModel)]="telefonU"><br /><br />
 
    <button (click)="updateButton()" type="submit" class="btn btn-default">Modificar</button>
</form>
