<html>
    <head>
        <style>
html {background-color: skyblue;}
</style>
    </head>
<div class="title" >
<h1>
  <h1>Escola Otaku</h1> <img class="ii" src="http://mon.uvic.cat/teknos/files/2015/08/Logo_Tekn%C3%B3s_3-e1440427535804.jpg" />
</h1>
  </div>
    <div id="cssmenu">
        <ul>
          <li>
            <a routerLink="/client" routerLinkActive="active" href="index.html">Professors</a>
          </li>
          <li>
            <a routerLink="/marca" routerLinkActive="active">Cursos</a>
          </li>
          <li>
            <a href="#" routerLink="/model" routerLinkActive="active">Centres</a>
          <li>
            <a routerLink="/equipament" routerLinkActive="active">Alumnes</a>
          </li>
       </ul>
    </div>
<router-outlet></router-outlet>
</html>

