<html>
    <head>
        <style>
html {background-color: skyblue;}
</style>
    </head>
    <body>        
<div class="title" >
  <h1>Escola Otaku <img class="ii" src="http://mon.uvic.cat/teknos/files/2015/08/Logo_Tekn%C3%B3s_3-e1440427535804.jpg" /></h1>
  </div>   
    <div id="cssmenu">
        <ul>
          <li>
            <!--<a routerLink="/professor" routerLinkActive="active" href="index.html">Professors</a>-->
              <a routerLink="/professor" routerLinkActive="active">Professors</a>
          </li>
          <li>
            <a routerLink="/curs" routerLinkActive="active">Cursos</a>
            <ul>
              <li><a routerLink="/addCurs" routerLinkActive="active">Add</a></li>
              <li><a routerLink="/putCurs" routerLinkActive="active">Put</a></li>
              <li><a routerLink="/listCurs" routerLinkActive="active">List</a></li>
              <li><a routerLink="/delCurs" routerLinkActive="active">Del</a></li>
            </ul>  
          </li>
          <li>
            <a  routerLink="/centre" routerLinkActive="active">Centres</a>
          <li>
            <a routerLink="/alumne" routerLinkActive="active">Alumnes</a>
              <ul>
                <li>
                    <a routerLink="/listAlumne" routerLinkActive="active">Mostrar alumnes</a>
                    <ul>
                        <li>
                            <a routerLink="/listAlumneId" routerLinkActive="active">Mostrar per Id</a>
                        </li>
                        <li>
                            <a routerLink="/listAlumneAll" routerLinkActive="active">Mostrar tots els alumnes</a>
                        </li>
                    </ul>
                </li>
              </ul>
          </li>
          <li>
                 <a routerLink="/php" routerLinkActive="active">php</a>  
                  <ul>
                        <li>
                            <a routerLink="/phpDavid" routerLinkActive="active">david</a>
                        </li>
                        <li>
                            <a routerLink="/phpSergi" routerLinkActive="active">sergi</a>
                        </li>
                        <li>
                            <a routerLink="/formulari" routerLinkActive="active">Formulari</a>
                        </li>
                      
                    </ul>
         </li>
       </ul>
    </div>        
<router-outlet></router-outlet>
        </body>
</html>

