<html>

	<body>      
                <div *ngIf="finished" class="alert alert-success fade in alert-dismissable" style="margin-top:18px;">     
   	<strong>Correcte! </strong>Connectat Correctament!
</div>
        
<div *ngIf="errorUser" class="alert alert-danger fade in alert-             dismissable" style="margin-top:18px;">     
   	<strong>Error! </strong>nom d'usuari o contrasenya incorrectes
</div>    
    
    <div>
<form action="" method="post" class="login">
    <div><label>Username</label><input   [(ngModel)]="user" name="user" type="text" ></div><br>
    <div><label>Password</label><input   [(ngModel)]="psswd" name="password" type="password"></div>
    <button (click)="login()" name="login" type="submit" value="login">Endevant!</button>
</form>        
</div>        
    </body>
</html>


