<html>
<body>
    <br>

    <form name="modProfeForm">

        <div *ngIf="idProfeMod == null && finished == true" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
            <span class="error">Falta l'identificador!!</span> <br> <br>
        </div>
        
        <div *ngIf="errorId" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
            <span class="error">Aquest ID no existeix</span> <br> <br>
        </div>

        <div *ngIf="errorServer" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
            <span class="error">Error al servidor</span> <br> <br>
        </div>
        
        

        <label for="idProfeMod">Introdueix l'ID del professor</label>
        <input type="text" name="idProfeMod" id="idProfeMod" [(ngModel)]="idProfeMod">


        <br> <br>


        <label for="selectCamp">Selecciona el camp que vols modificar </label>
        <select id="selectCamp" name="selectCamp" [(ngModel)]="camp">
            <option *ngFor="let c of camps" [value]="c.value">  
                {{c.display}}
            </option>
        </select>


        <br> <br> <br>


        <!-- dades a modificiar, només una visible, depenent del camp seleccionat ^^     -->
        <div id="modValor" [hidden]="true">
            <label>Introdueix la nova informació</label>
            <input type="text" name="nouValor" id="nouValor" [(ngModel)]="nouValor">
            <br> <br>
        </div>


        <div id="modValorData" [hidden]="true">
            <label>Selecciona la data de naixement</label>
            <input type="date" name="nouValor" id="nouValor" [(ngModel)]="nouValor">
            <br> <br>
        </div>


        <div id="modEsport" [hidden]="true">

            <!-- afegir esport -->
            <label>Afegeix aquest esport</label>
            <select id="nouValor" name="nouValor" [(ngModel)]="nouValor">
                <option *ngFor="let e of esports" [value]="e.nom">
                    {{e.nom}}
                </option>
            </select>
            <br> <br>

            <!-- treure esport -->
            <!--<label>Treu aquest esport</label>
            <select id="nouValor" name="nouValor" [(ngModel)]="nouValor">
                <option *ngFor="let e of esports" [value]="e.nom">
                    {{e.nom}}
                </option>
            </select>
            <br> <br>-->

        </div>

        <button (click)="modProfe()" type="submit" class="btn btn-success" [disabled]="!nouValor || !idProfeMod">Modificar</button>

    </form>

    <br>
    
</body>
</html>