<div class="groc">
<br>
    <h2>Introdueix les dades per crear un nou equipament:</h2>
    
    <div *ngIf="finished && !errorBuit && !errorServer" class="alert alert-success fade in alert-dismissable" style="margin-top:18px;">     
        <span class="totb">S'ha creat un nou equipament</span> <br><br>
    </div>
         
    <div *ngIf="errorBuit" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
        <span class="error">No s'ha pogut crear l'equipament, falten dades o són incorrectes</span> <br><br>
    </div>
    
    <div *ngIf="errorServer" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
        <span class="error">Error en el servidor</span> <br><br>
    </div>
    
    <form name="crearEquipament">
        
        <input type="text" name="crearNom" id="crearNom" [(ngModel)]="crearNom">
        <label for="crearNom">Nom </label>
        <span *ngIf="!esNomValid()" class="error">Has d'introduir un nom d'entre 3 i 15 caràcters</span>
        <span *ngIf="crearNom == null" class="error">Has d'especificar un nom</span>
        
        <br><br>
        
        <select name="crearCombustible" [(ngModel)]="crearCombustible">
            <option *ngFor="let c of combustibles" [value]="c.value">  
                {{c.display}}
            </option>
        </select>
        <label for="crearCombustible">Combustible </label>
        <span class="error" *ngIf="crearCombustible == null">Has d'escollir un combustible</span>
        <br> <br>

        <!--<input type="text" name="crearCombustible" id="crearCombustible" [(ngModel)]="crearCombustible">
        <label for="crearCombustible">Combustible </label>
        <br><br>-->
        
        <!--<input *ngIf="isNumber(crearPotencia) ? missatge_crear = 'problema' : missatge_crear = 'problema'" type="text" name="crearPotencia" id="crearPotencia" [(ngModel)]="crearPotencia">-->
        <input type="text" name="crearPotencia" id="crearPotencia" [(ngModel)]="crearPotencia">
        <label for="crearPotencia">Potència </label>
        <span class="error" *ngIf="crearPotencia < min_potencia || crearPotencia > max_potencia"> Ha d'estar compresa entre {{min_potencia}} i {{max_potencia}}</span>
        <span class="error" *ngIf="crearPotencia == null"> Has d'especificar una potència</span>
        <br><br>
        
        <!--<input type="text" name="crearTraccio" id="crearTraccio" [(ngModel)]="crearTraccio">
        <label for="crearTraccio">Tracció </label>
        <br><br>-->
        
        <select name="crearTraccio" [(ngModel)]="crearTraccio">
            <option *ngFor="let t of traccions" [value]="t.value">  
                {{t.display}}
            </option>
        </select>
        <label for="crearTraccio">Tracció</label>
        <span class="error" *ngIf="crearTraccio == null">Has d'escollir un sistema de tracció</span>
        <br> <br>
        
        <input type="checkbox" name="crearClimatitzador" [(ngModel)]="crearClimatitzador">
        <label> Climatitzador</label>
        <br><br>
        
        <p>Escull la mida de les llantes:</p>
        
        <span class="error" *ngIf="crearLlantes17 == false && crearLlantes18 == false && crearLlantes19 == false">Has d'escollir unes llantes<br> <br></span>
        
        <input type="checkbox" id="crearLlantes17" name="crearLlantes17" [(ngModel)]="crearLlantes17">
        <label>Llantes de 17"</label>
        <br> <br>
        
        <input type="checkbox" id="crearLlantes18" name="crearLlantes18" [(ngModel)]="crearLlantes18">
        <label>Llantes de 18"</label>
        <br> <br>
        
        <input type="checkbox" id="crearLlantes19" name="crearLlantes19" [(ngModel)]="crearLlantes19">
        <label>Llantes de 19"</label>
        
        <br> <br> <br>
        
        
        <input type="checkbox" name="crearNavegador" [(ngModel)]="crearNavegador">
        <label>Navegador</label>
        <br> <br>
        
        <input type="checkbox" name="crearPintura" [(ngModel)]="crearPintura">
        <label>Pintura metalitzada</label>
        <br> <br>
        
        <p>Escull el sistema multimèdia:</p>
        
        <span class="error" *ngIf="crearMulti6 == false && crearMulti9 == false">Has d'escollir un sistema multimèdia<br> <br></span>
        
        <input type="checkbox" id="crearMulti6" name="crearMulti6" [(ngModel)]="crearMulti6">
        <label>Sistema multimèdia de 6"</label>
        <br> <br>
        
        <input type="checkbox" id="crearMulti9" name="crearMulti9" [(ngModel)]="crearMulti9">
        <label>Sistema multimèdia de 9"</label>
        <br> <br> <br>
        
        <input type="text" name="crearPreu" id="crearPreu" [(ngModel)]="crearPreu">
        <label for="crearPreu">Preu</label>
        <span class="error" *ngIf="crearPreu < min_preu || crearPreu > max_preu "> Has d'especificar un preu entre {{min_preu}} i {{max_preu}}</span>
        <span class="error" *ngIf="crearPreu == null"> Has d'especificar un preu</span>
        <br><br><br>
        
        <button (click)="crearEquipament()" type="submit" class="btn btn-default">Submit</button>
        
    </form>
    
<br>
</div>
