#crearLlantes17, #crearLlantes18, #crearLlantes19, #crearMulti6, #crearMulti9 {
    margin-left: 20px;
}

.error{
    color: orangered;
    font-weight: bolder;
}

.totb{
    color: limegreen;
    font-weight: bolder;
}