<html>
    <body>
        
        <br>
    
        <app-boto></app-boto>
    
        <br>
        
        
        <div *ngIf="finished" class="alert alert-success fade in alert-dismissable" style="margin-top:18px;">     
            <span class="totb">Procés de baixa finalitzat correctament</span> <br><br>
        </div>

        <div *ngIf="errorBuit" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
            <span class="error">No s'ha pogut finalitzar el procés de baixa, falten dades o són incorrectes</span> <br><br>
        </div>

        <div *ngIf="errorServer" class="alert alert-danger fade in alert-dismissable" style="margin-top:18px;">     
            <span class="error">Error al servidor</span> <br><br>
        </div>
        
        <h2>Introdueix l'ID d'un professor per donar-lo de baixa:</h2>
        
        <form name="baixaProfeForm">
            <input type="text" name="delProfe" id="delProfe" [(ngModel)]="delProfe">
            <button (click)="esborrarProfe()" type="submit" class="btn btn-default">BAIXA PROFESSOR</button>
        </form>
        
    </body>
</html>