
<html>
	<body>        
        <alumne-modol></alumne-modol>       
        <h2>Que vols fer?</h2>  
       <button routerLink="../listAlumne" routerLinkActive="active">Mostrar un alumne</button>
        <button routerLink="../updateAlumne" routerLinkActive="active">Actualitzar un alumne</button>
        <button class="delete" routerLink="../delAlumne" routerLinkActive="active">Esborrar una alumne</button>  
        <button routerLink="../addAlumne" routerLinkActive="active">Afegir un alumne</button>  
    </body>    
</html>